.custom-table {
  border: 2px solid black;
}

.custom-table th {
  background-color: #007bff;
  color: white;
}

.custom-table th,
.custom-table td {
  border: 1px solid black;
}

.custom-table tbody tr:hover {
  background-color: #f2f2f2;
}
